* {
  box-sizing: border-box;    
}

/*   Element Selectors   */
body {
  margin: 0;
  padding: 0;    
}

img {
  border-radius: 3%;    
}

/*   Id Selectors   */

#search {
  height: 50px;
  min-width: 500px;
  padding-left: 15px;
  border: 2px solid rgb(108, 107, 107);
  border-radius: 3px;
}

/*   Class Selectors   */

.gallery {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 200px);
  grid-gap: 30px 25px;
  margin: 3em auto;
}

.searchField {
  margin: 2em auto;
  max-width: 500px
}