* {
  box-sizing: border-box;    
}

/*   Element Selectors   */
body {
  margin: 0;
  padding: 0;    
}

img {    
  margin: 0 10px;
  border-radius: 3%;
}

/*   Id Selectors   */

#search {
  height: 50px;
  min-width: 40vw;
  padding-left: 15px;
  border: 2px solid rgb(60, 170, 60);
  border-radius: 3px;
  font-size: 18px;
}

/*   Class Selectors   */

.gallery {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 200px);
  grid-gap: 35px 20px;
  margin: 3em auto;
  padding: 2rem;
  border: solid 3px rgb(60, 170, 60);
  border-radius: 6px;
}

.searchField {
  padding-left: 10px;
  margin: 2rem auto;
  max-width: 500px;
}